body{
    margin: 0 !important;
    padding: 0 !important;
}
/*
    Navbar
*/
#navbar{
    background-color: #31213c;
    color: white;
}
/*
    Data
*/
#data {
    /* CSS Gradient io */
    background: rgb(95,53,177);
    background: -moz-linear-gradient(135deg, rgba(95,53,177,1) 0%, rgba(95,53,177,1) 0%, rgba(53,152,211,1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(95,53,177,1) 0%, rgba(95,53,177,1) 0%, rgba(53,152,211,1) 100%);
    background: linear-gradient(135deg, rgba(95,53,177,1) 0%, rgba(95,53,177,1) 0%, rgba(53,152,211,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5f35b1",endColorstr="#3598d3",GradientType=1); 
}
#dataInside{
    background-color: #31213c;
    border-radius: 15px;
    font-family: 'Source Code Pro', monospace;
    color: white;

    -webkit-box-shadow: 0px 4px 15px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 15px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 15px -4px rgba(0,0,0,0.75);
}
.value{
    color:bisque;
    margin-right: 0.7em;
}
.valueText{
    color: orange;
    margin-right: 0.7em;
}
.code{
    padding:0 0 1.3em 0.5em;
}
.code>p{
    margin-bottom: 0 !important;
}
.indented{
    margin-left: 2em;
}

.circle{
    position: absolute;
    color: transparent;
    width: 1em;
    height: 1em;
    margin-right: 1em;
    border-radius: 50%;
}
.one{
    left: 4.5em;
    background-color: #ff5f56
}
.two{
    left: 6.5em;
    background-color: #ffbd2e;
}
.three{
    left: 8.5em;
    background-color: #27c93f;
}

#profile{
    max-width: 12em;
    border-radius: 50%;
    border: 0.5em solid white;
    box-shadow: 10px -1px 10px -2px rgba(0,0,0,0.54);
    -webkit-box-shadow: 10px -1px 10px -2px rgba(0,0,0,0.54);
    -moz-box-shadow: 10px -1px 10px -2px rgba(0,0,0,0.54);
    
}

/* 
    Technologies
*/
#imgcore{
    max-height: 600px;
}
.list-group-item:hover{
    background-color: #3f80cb;
    filter: hue-rotate(90deg);
    color: white;
    cursor:default;
}

.list-group-item:hover>i{
    color: white;
}

li i{
    font-size: 1.6em;
    margin-right: 15px;
    color: #3f80cb;
}

/*
    education
*/
.education{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
    background: rgb(31,41,100);
    background: -moz-linear-gradient(180deg, rgba(31,41,100,1) 42%, rgba(50,25,67,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(31,41,100,1) 42%, rgba(50,25,67,1) 100%);
    background: linear-gradient(180deg, rgba(31,41,100,1) 42%, rgba(50,25,67,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1f2964",endColorstr="#321943",GradientType=1); 
    background-attachment: fixed;

    max-height: 480px;
}

#scene, .education div{padding: 0;}


.container-scene{
    display: flex;
    justify-content: center;
    padding: 0 !important;    
}
.img-fluid.clouds{
    max-width: 110% !important;
}

.cardInfoEdu{
    margin: 25% auto;
    width: 60%;
    background-color: #2b4ea0 !important;
    transform: skew(20deg)
}

.cardInfoEdu:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid #2b4ea0;
    border-top: 15px solid #2b4ea0;
    border-bottom: 15px solid transparent;
    left: -16px;
    top: -1px;
}


.bubbleContainer{
    background-color: black;
    z-index: 1;
	transform: skew(-20deg);
}

/*  */



/* Selection */
::-moz-selection { /* Code for Firefox */
    color: white;
    background: pink;
  }
  
  ::selection {
    color: white;
    background: pink;
  }

/* Media querys */

@media (max-width: 576px) { 
    .one, .two, .three{
        display: none;
    }
}
@media (max-width: 991px) { 
    .techTitle{
        text-align: center;
    }
    .techList{
        justify-content: center !important;
    }
}